<div class="bg-white p-2 shadow-1">
    <h3>Detalles del Perfil</h3>

    <div class="">
        <div class="w-full mx-auto flex justify-content-center p-2 pb-3">
            <img src="https://placehold.co/200x200" class="border-circle" alt="">
        </div>
        <div>
            <p class="text-center text-md">John Doe Smith</p>
            <table>
                <thead>
                    <tr>
                        <th>Nombre de Usuario</th>
                        <th>ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>