<div class="bg-white p-3 shadow-1">
    <div class="flex flex-column pt-3 pl-4">
        <p class="m-0 text-xl mb-3">Menu</p>
        <ul class="flex flex-column list-style-none gap-4 p-0">
            <a href="" routerLink="/admin" class="flex align-items-center gap-2 text-md hover:bg-gray-200 p-2 px-3 border-round-sm no-underline block text-md p-0 m-0">
                <span class="text-lg text-gray-900"><i class='bx bxs-home'></i></span>
                <p class="text-gray-900 no-underline block text-md p-0 m-0">Inicio</p>
            </a>
            <a href="" routerLink="profile" class="flex align-items-center gap-2 text-md hover:bg-gray-200 p-2 px-3 border-round-sm no-underline block text-md p-0 m-0">
                <span class="text-lg text-gray-900"><i class='bx bxs-user'></i></span>
                <p class="text-gray-900 no-underline block text-md p-0 m-0">Perfil</p>
            </a>
            <a href="" routerLink="profile" class="flex align-items-center gap-2 text-md hover:bg-gray-200 p-2 px-3 border-round-sm no-underline block text-md p-0 m-0">
                <span class="text-lg text-gray-900"><i class='bx bx-list-ul' ></i></span>
                <p class="text-gray-900 no-underline block text-md p-0 m-0">Categorias</p>
            </a>
            <a href="" routerLink="profile" class="flex align-items-center gap-2 text-md hover:bg-gray-200 p-2 px-3 border-round-sm no-underline block text-md p-0 m-0">
                <span class="text-lg text-gray-900"><i class='bx bx-list-plus' ></i></span>
                <p class="text-gray-900 no-underline block text-md p-0 m-0">Agregar Categoria</p>
            </a>
            <a href="" routerLink="profile" class="flex align-items-center gap-2 text-md hover:bg-gray-200 p-2 px-3 border-round-sm no-underline block text-md p-0 m-0">
                <span class="text-lg text-gray-900"><i class='bx bx-question-mark' ></i></span>
                <p class="text-gray-900 no-underline block text-md p-0 m-0">Cuestionarios</p>
            </a>
            <a href="" routerLink="profile" class="flex align-items-center gap-2 text-md hover:bg-gray-200 p-2 px-3 border-round-sm no-underline block text-md p-0 m-0">
                <span class="text-lg text-gray-900"><i class='bx bxs-add-to-queue' ></i></span>
                <p class="text-gray-900 no-underline block text-md p-0 m-0">Agregar Cuestionario</p>
            </a>
            <a href="" routerLink="profile" class="flex align-items-center gap-2 text-md hover:bg-gray-200 p-2 px-3 border-round-sm no-underline block text-md p-0 m-0">
                <span class="text-lg text-gray-900"><i class='bx bx-log-out' ></i></span>
                <p class="text-gray-900 no-underline block text-md p-0 m-0">Salir</p>
            </a>
        </ul>
    </div>
</div>

